<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">AllOil</a>
  <button class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNav">
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="'pagina-inicial'"
           [routerLinkActive]="'active'" >Página inicial</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'marcar-horario'"
           [routerLinkActive]="'active'" >Marcar Horário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="'contato'"
           [routerLinkActive]="'active'" >Contato</a>
      </li>
    </ul>
  </div>
</nav>
