<div class="container-fluid">
  <div class="row">
    <div class="col text-center py-5" style="background-color: #dc3545; color: #ffffff;">
      <h1>Bem-vindo à Oficina Alloil</h1>
      <p>Serviços de qualidade para o seu veículo.</p>
      <button class="btn btn-light btn-lg mt-4">
       <a class="nav-link" [routerLink]="'marcar-horario'"
       [routerLinkActive]="'active'">Agende seu Horário</a>
      </button>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Troca de óleo</h5>
          <p class="card-text">Óleo de melhor qualidade e menores preços.</p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Trocas de Filtros</h5>
          <p class="card-text">Troca de Filtros de ar do motor, ar condicionado e filtro de óleo das melhores marcas.</p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">

        <div class="card-body">
          <h5 class="card-title">Troca de Pneus</h5>
          <p class="card-text">Melhores preços e variedades com geometria e balanceamento incluso.</p>
          <a href="#" class="btn btn-primary">Saiba mais</a>
        </div>
      </div>
    </div>
  </div>
</div>
